.card {
  border-radius: var(--borderRadiusDefault);
  background-color: var(--white);
  margin: 2rem 0;
  padding: 1rem 2rem;
  border: 4px solid var(--white);
}

.selected {
  background-color: var(--lightGreen);
}
