.intent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 1280px) {
    align-items: center;
    gap: 0;
    flex-direction: row;
  }
}

.cta {
  @media screen and (max-width: 1280px) {
    width: 100%;
  }
}

.name {
  font-size: 1.5rem;
  font-weight: var(--fontWeightBold);
  color: var(--primary);
  display: flex;
  align-items: center;
}

.description {
  color: var(--grayDark);
}

.example {
  margin-top: 24px;
  & > div {
    margin-bottom: 10px;
  }
}

.checkmark {
  margin-left: 5px;
  color: var(--darkGreen);
  font-size: 1.5rem;
}

.reply {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 3px;
}
