.chip {
  padding: 0.25rem 0.5rem;
  border-radius: var(--borderRadiusDefault);
  width: fit-content;
  background-color: var(--tertiary);
  margin: 5px 5px 0 0;
  color: var(--primaryDark);
  display: inline-block;
}
